<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/6.3.1/tippy.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/6.3.1/tippy-bundle.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    <title>Calendar</title>
</head>
<body>
    <div class="container">
        <div class="sidenav" id="mySidenav">
            <img src="/images/logo.jpg" alt="Logo"/>
            <a href="/" id="index"><p>Today's Expense <i class="fas fa-comments-dollar"></i></p></a>
            <a href="/track-daily" id="daily-link"><p>Track Chart <i class="fas fa-chart-pie"></i></p></a>
            <a href="/calendar" id="calendar-link"><p>Calendar <i class="fas fa-calendar-alt"></i></p></a>
        </div>
        <div class="calendar-container">
            <div id="calendar"></div>
        </div>
    </div>
    <script src="/javascripts/script.js"></script>
</body>
</html>
