<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Check Today's Expense</title>
    <link rel="stylesheet" href="/stylesheets/indexstyle.css">
</head>
<body>
    <div class="container">
        <div class="sidenav" id="mySidenav">
            <img src="/images/logo.jpg" alt="Logo"/>
            <a href="#" id="indexPage"><p>Today's Expense <i class="fas fa-comments-dollar"></i></p></a>
            <a href="#" id="daily-link"><p>Track Chart <i class="fas fa-chart-pie"></i></p></a>
            <a href="#" id="calendar"><p>Calendar <i class="fas fa-calendar-alt"></i></p></a>
        </div>
        <div class="inputarea">
            <p>Enter spend item name and spend amount</p>
            <input type="date" id="date" placeholder="Today" >
            <input type="text" id="item-name" placeholder="Enter Item name">
            <input type="number" id="item-amount" placeholder="Enter Amount">
            <select id="currency">
                <option value="" disabled selected>Select Currency</option>
                <option value="usd">USD - US Dollar</option>
                <option value="eur">EUR - Euro</option>
                <option value="gbp">GBP - British Pound</option>
                <option value="inr">INR - Indian Rupee</option>
                <option value="jpy">JPY - Japanese Yen</option>
                <option value="aud">AUD - Australian Dollar</option>
                <option value="cad">CAD - Canadian Dollar</option>
                <option value="chf">CHF - Swiss Franc</option>
                <option value="cny">CNY - Chinese Yuan</option>
                <option value="rub">RUB - Russian Ruble</option>
            </select>
            <button id="add"> Add Expense</button>
            <button id="chart-link"> Daily charts</button>
            <button id="AddtoCalendar"> Add to calendar</button>
        </div>
        <div class="outputTotal">
            <h4>Total: <span id="totalAmount">0</span> USD</h4>
        </div>
        <div class="expense-list">
            <h2>Expense List</h2>
            <ul id="expense"></ul>
        </div>
    </div>
    <script>
        let totalAmount = 0;

        document.getElementById('add').addEventListener('click', () => {
            const itemnm = document.getElementById('item-name').value;
            const itemAmount = parseFloat(document.getElementById('item-amount').value);
            const currency = document.getElementById('currency').value;
            const date = document.getElementById('date').value;

            if (itemAmount && itemnm && currency) {
                const expense = {
                    name: itemnm,
                    amount: itemAmount,
                    currency: currency,
                    date: new Date(date)
                };

                fetch(`/expenses/${date}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(expense)
                }).then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                    throw new Error('Network response was not ok.');
                })
                .then(data => {
                    const expenseList = document.getElementById('expense');
                    expenseList.innerHTML = '';
                    totalAmount = 0;
                    data.forEach(exp => {
                        const li = document.createElement('li');
                        li.textContent = `Name: ${exp.name}, Amount: ${exp.amount} ${exp.currency.toUpperCase()}`;
                        expenseList.appendChild(li);
                        totalAmount += exp.amount;
                    });
                    document.getElementById('totalAmount').textContent = totalAmount.toFixed(2);
                    alert('Expense added and list updated successfully');
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                    alert('Error adding expense');
                });
            }
        });

        document.getElementById('date').addEventListener('change', () => {
            const date = document.getElementById('date').value;
            fetch(`/expenses/${date}`)
                .then(response => response.json())
                .then(data => {
                    const expenseList = document.getElementById('expense');
                    expenseList.innerHTML = '';
                    totalAmount = 0;
                    data.forEach(exp => {
                        const li = document.createElement('li');
                        li.textContent = `Name: ${exp.name}, Amount: ${exp.amount} ${exp.currency.toUpperCase()}`;
                        expenseList.appendChild(li);
                        totalAmount += exp.amount;
                    });
                    document.getElementById('totalAmount').textContent = totalAmount.toFixed(2);
                })
                .catch(error => console.error('Error fetching expenses:', error));
        });

        document.getElementById('daily-link').addEventListener('click', () => {
            const date = document.getElementById('date').value;
            window.location.href = `/track-daily?date=${date}`;
        });

        document.getElementById('chart-link').addEventListener('click', () => {
            const date = document.getElementById('date').value;
            window.location.href = `/track-daily?date=${date}`;
        });

        document.getElementById('AddtoCalendar').addEventListener('click', () => {
            const itemnm = document.getElementById('item-name').value;
            const itemAmount = parseFloat(document.getElementById('item-amount').value);
            const currency = document.getElementById('currency').value;
            const date = document.getElementById('date').value;

            if (itemAmount && itemnm && currency) {
                const expense = {
                    name: itemnm,
                    amount: itemAmount,
                    currency: currency,
                    addToCalendar: true,
                    date: date
                };

                fetch('/add-expense', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(expense)
                })
                .then(response => {
                    if (response.ok) {
                        return response.text();
                    }
                    throw new Error('Network response was not ok.');
                })
                .then(data => {
                    console.log(data);
                    alert('Expense added successfully');
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                    alert('Error adding expense');
                });
            } else {
                alert('Please fill out all fields');
            }
        });

        document.getElementById('calendar').addEventListener('click', () => {
            window.location.href = '/calendar';
        });
    </script>
</body>
</html>
